Dockerfile
.dockerignore

fly.toml

.git
.gitignore

**/venv/
**/.venv/
env/
.env

__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.pytest_cache/
.mypy_cache/
.coverage
.cache

.idea/
.vscode/
*.iml
*.iws

build/
dist/
*.egg
*.log
*.sqlite3
*.sqlite3-journal

.DS_Store
Thumbs.db


experiments/*
asentrx_default.log
.env-prod